.download-apps{
    background-color: #F5F5F5;
    @media(max-width: 575px){
        padding-bottom: 35px;
    }
    .image{
        @media(max-width: 575px){
            margin-bottom: 35px;
        }
    }
    .section-content{
        max-width: 330px;
        width: 100%;
        .button-group{
            margin-top: 24px;
            a{
                // transform: translateY(0px);
                transform: translateY(0);
                transition: .3s ease-in-out;
                border-radius: 4px;
                overflow: hidden;
                &:hover{
                    // transform: translateY(-2px);
                    // transform: translateY(-2px);
                    box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.15);

                }
            }
            a:first-child{
                margin-right: 23px;
            }
        }
    }
}