@import "../../../../assets/scss/variables";

.card-list-item{
    width: 100%;
    background-color: $white;
    border-radius: 8px;
    padding: 10px 50px 10px 60px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 68px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    @media(max-width: 767px){
        padding: 10px 10px 10px 50px;
    }
    &:hover{
        color: unset;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        .title{
            color: $primaryDarkColor;
        }
        .arrow{
            transform: translateY(-50%) translateX(3px);
        }
    }
    .title, .cost{
        color: $black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .icon{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        max-width: 36px;
        max-height: 36px;
    }
    .arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(0px);
        right: 20px;
        font-size: rem(22);
        transition: .3s ease-in-out;
        color: $primaryColor;
        @media(max-width: 767px){
            right: 15px;
        }
    }
}