@import "../../../../assets/scss/variables";

$muteColor: #4C4C4C;
$green: #43A046;
$ratting: #FFD321; 

.hotel-module {
    cursor: pointer;
    &:hover {
        .image-area .flex-img img {
            transform: scale(1.06);
        }
        .title a{
            color: $primaryDarkColor;
        }
    }

    .image-area {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        .flex-img {
            display: flex;
            height: 320px;
            @media(max-width: 991px){
                height: 250px;
            }
            img {
                object-fit: cover;
                object-position: center;
                transform: scale(1);
                transition: all 0.4s ease-in-out;
                width: 100%;
            }
        }
    }

    .title {
        margin-top: 16px;
        a {
            color: $black;
            font-weight: 500;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .tour-info {
        .mdi {
            font-size: rem(22);
        }
        .loacation {
            .mdi {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    width: 3.33px;
                    height: 1.39px;
                    border-radius: 50%;
                    background-color: #4C4C4C;
                    bottom: 7px;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
    }

    .costs {
        .line-through {
            text-decoration-line: line-through;
            color: $muteColor;
        }
    }

    .rattings {
        margin-right: 17.73px;
        color: $ratting;
    }

    .likes {
        background-color: $green;
        border-radius: 12px;
        color: $white;
        font-size: rem(14);
        line-height: 18px;
        padding: 1px 8px 0;
        i {
            margin-right: 5.16px;
        }
    }
}
